{
  :templates {
   :hyper "open -g hammerspoon://hyper?action=%s\\&target=%s"
  }
:layers {
   :default {:key :caps_lock :alone {:key :escape}}
 }
:main [
    {
      :des "Default layer"
      :rules [:default
        [:o [:hyper "open" "default"]]
        [:h [:hyper "navigate" "back"]]
        [:j [:hyper "navigate" "down"]]
        [:k [:hyper "navigate" "up"]]
        [:l [:hyper "navigate" "forward"]]
        [:p [:hyper "paste" "default"]]
        [:y [:hyper "copy" "default"]]
        [:i [:hyper "insert" "default"]]
        [:delete_or_backspace [:hyper "lock" "default"]]
        [:period [:hyper "execute" "default"]]
        [:keypad_8 [:hyper "windowSize" "up"]]
        [:keypad_2 [:hyper "windowSize" "down"]]
        [:keypad_4 [:hyper "windowSize" "left"]]
        [:keypad_6 [:hyper "windowSize" "right"]]
        [:keypad_5 [:hyper "windowSize" "center"]]
        [:m [:hyper "open" "messages"]]
        [:grave_accent_and_tilde [:hyper "open" "console"]]
        [:tab [:hyper "open" "Kitty"]]
        [:s [:hyper "open" "slack"]]
        [:t [:hyper "open" "teams"]]
        [:w [:hyper "open" "arc"]]
        [:c [:hyper "open" "calendar"]]
        [:d [:hyper "open" "discord"]]
        [:f [:hyper "fullscreen" "default"]]
        [:backslash [:hyper "darkToggle" "default"]]
        [:1 [:hyper "changeBrightness" "down"]]
        [:2 [:hyper "changeBrightness" "up"]]
        [:b [:hyper "gridToggle" "default"]]
        [:e [:hyper "emoji" "picker"]]
      ]
    }
 ]
}